/* din condensed */
@import url("https://use.typekit.net/jcq2ske.css");
/* din light */
@import url("https://use.typekit.net/jcq2ske.css");
.btn-primary {
  background-color: white;
  color: #064663;
  border-color: white;
  padding: 0px 8px;
  font-family: din-condensed;
}

.btn-primary:hover {
  background-color: rgb(240, 240, 240);
  color: #064663;
  border-color: white;
}
.bg-dark-m {
  background-color: #041c32;
}

/* .nav-link {
  color: #ecb365 !important;
  font-size: 1.4vw;
} */

.secondary-m {
  color: #ecb365 !important;
}

.din-condensed {
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.marcos {
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  text-transform: uppercase;
}
.marcos-subtitle {
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2vw;
  text-transform: uppercase;
  color: #ecb365;
}

.profile-photo {
  width: auto;
  height: 80px;
}

.profile-header-links {
  width: auto;
  height: 30px;
  margin: 5px 0px;
}
.cta-banner {
  position: relative;
  text-align: center;
  color: white;
}
.cta-banner .bg {
  height: auto;
  width: 120%;
}

.cta-banner h3 {
  font-family: Din-condensed;
  font-size: 3vw;
}
.cta-banner h2 {
  font-family: bebas-neue-pro, sans-serif;
  font-size: 4vw;
}
.cta-banner p {
  font-family: bebas-neue-pro, sans-serif;
  font-size: 2vw;
  width: 50%;
}
.cta-banner div {
  flex-direction: row;
}
.bg-el-top-right {
  position: absolute;
  top: -130px;
  right: 16px;
  width: 50%;
}
.bg-el-center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.card-header {
  text-align: center;
  text-transform: uppercase;
  color: #064663;
}
.project {
  height: 100%;
  width: auto;
}

@media screen and (max-width: 992px) {
  .bg-el-top-right {
    position: absolute;
    top: -130px;
    right: 16px;
    width: 0%;
  }
  .cta-banner p {
    font-family: bebas-neue-pro, sans-serif;
    font-size: 3vw;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .bg-el-top-right {
    position: absolute;
    top: -130px;
    right: 16px;
    width: 0%;
  }
  .cta-banner div {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .cta-banner button {
    width: 100%;
    height: auto;
    font-size: 3vw;
  }
}
